[submodule "WebClient"]
	path = WebClient
	url = https://github.com/aprsworld/wsBroadcast-WebClient
[submodule "jsUtils"]
	path = jsUtils
	url = https://github.com/aprsworld/jsUtils
[submodule "WebDisplay"]
	path = WebDisplay
	url = https://github.com/aprsworld/wsWebDisplay
